[submodule "module/src/main/cpp/third_party/dobby"]
	path = module/src/main/cpp/third_party/dobby
	url = https://github.com/script-or-script/Dobby-android-patched.git
[submodule "module/src/main/cpp/third_party/capstone"]
	path = module/src/main/cpp/third_party/capstone
	url = https://github.com/capstone-engine/capstone.git
